body, ul, li, p{
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: Tahoma;
	color:#333;
}
li{
	list-style: none;
}
html .row{
	margin-left:0;
	margin-right:0;
}
/*
html .btn{
	margin:0 10px 10px 0;
}*/
html .form-group{
	clear: both;
	overflow: hidden;
}
html .form-group .control-label{
	width:20%;
	float:left;
}
html .form-group .form-control{
	width:50%;
	float:left;
}

.pd-3-15{
	padding:3px 15px;
}

.clearboth{
	clear: both;
}


#wrapper{
	background:#fafafa;
}
html .btn a{
	display: block;
}

html h1.welcome{
	text-align: center;
	position: relative;
	top:150px;
	color:#5cb85c;
	font-size: 30px;
}

/*-----------------------------------Style header--------------------------------------*/
/*-------------------------------------------------------------------------------------*/


#header{
	height:80px;
	background:#5cb85c;
}
.top-head{
	width:100%;
	height:50px;
	background:#4cae4c;
}
.top-head .wrap-logo{
	width:80%;
	float:left;
}
.top-head .wrap-logo .logo{
	display: inline-block;
	margin-left:30px;
	margin-top:5px;
	float:left;
}
.top-head .wrap-logo .logo img{
	height:40px;
}
.top-head .wrap-logo .description{
	margin:0;
	float:left;
	color:#fff;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	margin-left:15px;
}
.top-head #box-user{
	width:20%;
	height:50px;
	float:right;
	padding-top:10px;
	position: relative;
	cursor: pointer;
}
.top-head #box-user img{
	height:30px;
	border-radius: 50%;
	float:left;
}
.top-head #box-user .name{
	margin:0;
	float:left;
	color:#fff;
	margin-left:15px;
	font-weight: 500;
	font-size: 13px;
}
#user-dropdown{
	display: none;
	width:100%;
	padding:10px;
	position: absolute;
	top:50px;
	left:0;
	z-index: 200;
	background:#4cae4c;
}
#user-dropdown a{
	text-decoration: none;
}


.menu{
	width:100%;
	height:30px;
	overflow-y: scroll;
	background-color: #5cb85c;
}
.menu .list-item{
	margin:0;
	padding:0;
}
.menu .list-item li{
	float:left;
	position: relative;
}
.menu .list-item li.sep{
	color:#fff;
	line-height: 30px;
}
.menu .list-item li a{
	display: block;
	color:#fff;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 30px;
	padding:0 10px;
	text-decoration: none;
}
.menu .list-item li a:hover{
	background:#4cae4c;
}
.menu .list-item li ul{
	display: none;
	position: absolute;
	top:30px;
	left:0;
}
.menu .list-item li ul li{
	background-color: #5cb85c;
	min-width:180px;
}
.menu-active{
	background:#4cae4c;
}

/*-----------------------------------Style content--------------------------------------*/
/*-------------------------------------------------------------------------------------*/



#content{
	background:#fafafa;
}
#sidebar{
	width:20%;
	height:100%;
	float:left;
	overflow: scroll;
	border-right:1px solid #ccc;
	box-shadow: 1px 1px 2px #ccc;
}
#main-content{
	width: 80%;
	float:right;
	overflow: scroll;
	padding:0 10px;
}
.main-content{
	width: 100%;
	overflow: scroll;
	padding:0 10px;
}
.portlet{
	overflow: hidden;
	border-bottom:1px solid #ccc;
}
.portlet .portlet-decoration{
	display: inline-block;
	margin-right:20px;
}
.portlet .portlet-content ul li{
	float:left;
}
.portlet .portlet-content ul li a{
	text-decoration: none;
}
.portlet .operations .btn{
	margin:0 15px 15px 0;
}



.main-content > h1,
#main-content > h1{
	margin:10px 0;
	font-size: 24px;
}


#content .pager{
	padding:15px 0;
	text-align: center;
	clear: both;
}
#content .pager .yiiPager{

}
#content .pager .yiiPager li{
	margin-right:5px;
}
#content .pager .yiiPager li.selected{
	background:#337ab7;
}
#content .pager .yiiPager li.selected a{
	color:#fff;
}
#content .pager .yiiPager li a{
	display: inline-block;
	padding:3px 8px;
	border-radius: 3px;
	font-size: 14px;
	color:#337ab7;
	line-height: 1.2;
	border:1px solid #337ab7;
}
#content .pager .yiiPager li a:hover{
	background:#337ab7;
	color:#fff;
}
#content .pager .yiiPager .next, 
#content .pager .yiiPager li a
#content .pager .yiiPager .previous, 
#content .pager .yiiPager li a{
	float:none;
	font-weight: normal;
}

#content .list-view .items .view{
	width:45%;
	float:left;
	padding:10px;
	margin:10px 2%;
	border:1px solid #ccc;
	background:#fff;
	box-shadow: 1px 1px 2px #ccc;
}


/*-----------------------------------Style footer--------------------------------------*/
/*-------------------------------------------------------------------------------------*/



#footer{
	height:30px;
	background:#f70;
	text-align: center;
}
#footer p{
	line-height: 30px;
	color:#fff;
	margin:0;
}