body, ul, li, p{
	margin:0;
	padding:0;
	font-size: 12px;
	font-family: Tahoma;
	color:#333;
}
li{
	list-style: none;
}
#wrapper.container-fluid{
	margin:0;
}

html .row{
	margin-left:0;
	margin-right:0;
}

/*-----------------------------------Style header--------------------------------------*/
/*-------------------------------------------------------------------------------------*/


#header{
	height:80px;
	background:#5cb85c;
}
.top-head{
	width:100%;
	height:50px;
	background:#4cae4c;
}
.top-head .wrap-logo{
	width:80%;
	float:left;
}
.top-head .wrap-logo .logo{
	display: inline-block;
	margin-left:30px;
	margin-top:5px;
	float:left;
}
.top-head .wrap-logo .logo img{
	height:40px;
}
.top-head .wrap-logo .description{
	margin:0;
	float:left;
	color:#fff;
	font-size: 16px;
	line-height: 40px;
	text-transform: uppercase;
	margin-left:15px;
}
.top-head #box-user{
	width:20%;
	height:40px;
	float:right;
	padding-top:5px;
	position: relative;
}
.top-head #box-user img{
	height:30px;
	border-radius: 50%;
	float:left;
}
.top-head #box-user .name{
	margin:0;
	float:left;
	color:#fff;
	margin-left:15px;
	font-weight: 500;
	font-size: 13px;
}
#user-dropdown{
	display: none;
	width:100%;
	padding:10px;
	position: absolute;
	top:40px;
	left:0;
	background:#4cae4c;
}
#user-dropdown a{
	text-decoration: none;
}


.menu{
	width:100%;
	height:30px;
	overflow-y: scroll;
}
.menu .list-item{
	margin:0;
	padding:0;
}
.menu .list-item li{
	float:left;
}
.menu .list-item li.sep{
	color:#fff;
	line-height: 30px;
}
.menu .list-item li a{
	display: block;
	color:#fff;
	font-size: 12px;
	text-transform: uppercase;
	line-height: 30px;
	padding:0 10px;
	text-decoration: none;
}
.menu .list-item li a:hover{
	background:#4cae4c;
}

/*-----------------------------------Style header--------------------------------------*/
/*-------------------------------------------------------------------------------------*/



#content{
	height:400px;
	overflow: hidden;
}
#sidebar{
	width:20%;
	height:100%;
	float:left;
	overflow: scroll;
	border-right:1px solid #ccc;
	box-shadow: 1px 1px 2px #ccc;
}
#main-content{
	width: 80%;
	height:100%;
	float:right;
	overflow-x: scroll;
	padding:10px;
}
.main-content{
	width: 100%;
	height:100%;
	float:right;
	overflow: scroll;
	padding:10px;
}
.portlet{
	overflow: hidden;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.portlet .portlet-decoration{
	display: inline-block;
	margin-right:20px;
}
.portlet .portlet-content ul li{
	float:left;
}
.portlet .portlet-content ul li a{
	padding:3px 10px;
	margin-right:15px;
	border:1px solid #ccc;
	border-radius: 3px;
	text-decoration: none;
	color:#333;
}


/*-----------------------------------Style footer--------------------------------------*/
/*-------------------------------------------------------------------------------------*/



#footer{
	height:30px;
	background:#f70;
	text-align: center;
}
#footer p{
	line-height: 30px;
	color:#fff;
	margin:0;
}